<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> 404 - PAGE </title>
  <link rel="stylesheet" href="/css/404.css">
  <script src="/js/404.js" defer></script>
</head>
<body>
  <div class="div__404">
    <h1 class="header"> 404 &bull; Page Not Found </h1>
    <div class="div__link">
    	<p class="header__msg"> This isn't the page you were looking for? </p>
    	<a href="/"> Go back to homepage </a>
    </div>
  </div>

</body>
</html>
